.logForm {
    height: 100%;
    height: 100%;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    padding-top: 4rem;
}

.crossBtn {
    background: none;
    border: none;
    width: 1rem;
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}