@import "../../assets/fonts/Fonts.css";
@import "../../assets/colors/Colors.css";

.navCoin {
  height: 69px;
  border-bottom: 1px var(--greyish-two) solid;
}

input {
  border: none;
  width: 130px;
  padding-top: 2px;
}

input:focus {
  outline: none;
}

.searchCon {
  border-radius: 30px;
  width: 181px;
  height: 35px;
  border: 1px var(--greyish-two) solid;
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: row;
}

button {
  padding: 0.2rem 2rem;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: normal;
}

.regBtn {
  border: none;
  background-color: white;
  transition: 0.2s ease;
}

.regBtn:hover {
  background-color: var(--greyish-two);
  color: white;
}

.logBtn {
  border: none;
  background-color: white;
  border: 2px var(--primary) solid;
  color: var(--primary);
  font-weight: bolder;
  border-radius: 30px;
  transition: 0.2s ease;
}

.logBtn:hover {
  background-color: var(--primary);
  color: white;
}

.cartBtn {
  border: none;
  background-color: white;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e902";
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  opacity: 0.6;
}

.icon-cart:before {
  content: "\e900";
  font-size: 24px;
}

.icon-cart {
  transition: ease 0.2s;
}

.icon-cart:hover {
  color: var(--primary);
}

.downMenuCoin {
  height: 43px;
  border-bottom: 1px var(--greyish-two) solid;
}
