[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboardCon {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.menuBar {
  flex: 0 1 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 0 1 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.brand {
  flex: 0 1 14%;
  width: 100%;
  background-color: var(--white-two);
}

.menuSection {
  flex: 0 1 86%;
  width: 100%;
  background-color: var(--white-two);
}

.dashboardHeader {
  flex: 0 1 14%;
  width: 100%;
  background-color: var(--white-two);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dashboardOption {
  flex: 0 1 8%;
  width: 100%;
  background-color: var(--white-two);
}

.dashbaordCOntent {
  flex: 0 1 78%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.brandLogo {
  width: 132px;
  height: 27.5px;
  margin: 0 44px 44.5px;
  object-fit: contain;
  margin-top: 15%;
  margin-left: 3.5rem;
}

.icon-orders-dark:before {
  content: "\e907";
}

.icon-products-orange:before {
  content: "\e908";
}

.icon-orders-dark,
.icon-products-orange {
  font-size: 24px;
  color: #9b9b9b;
}

.orderRow {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 1rem;
}

.orderRow > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1%;
}

.orderId {
  flex: 0 1 10%;
}

.orderDate {
  flex: 0 1 15%;
}

.orderTotal {
  flex: 0 1 10%;
}
.orderStatus {
  flex: 0 1 10%;
}
.orderAction {
  flex: 0 1 10%;
}

.orderDetail {
  flex: 0 1 39%;
}
