.item {
  flex: 0 1 25%;
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

hr {
  width: 215px;
  height: 0.1px;
  border: 1px var(--white-six) solid;
}

.con {
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 405px;
  margin-top: 30px;
}

@media all and (max-width: 1185px) {
  .item {
    flex: 0 1 50%;
  }
}
