:root {
  --greyish-two: #b7b7b7;
  --greyish-brown: #4d4d4d;
  --primary: #ffa15f;
  --white: #ffffff;
  --white-two: #f6f6f6;
  --white-four: #d4d3d3;
  --strawberry: #f63f45;
  --white-six: #eaeaea;
  --dark-grey: #202124;
  --brown-grey: #979797;
  --bright-orange: #ff6900;
  --pinkish-grey: #cccccc;
  --white-five: #fbfbfb;
  --charcoal-grey: #3d3d3f;
  --greyish: #acacac;
  --pea-green: #82bf11;
  --cancele: #f05d62;
}
