@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "icomoon";
  src: url("icon/icomoon.eot?d56syn");
  src: url("icon/icomoon.eot?d56syn#iefix") format("embedded-opentype"),
    url("icon/icomoon.ttf?d56syn") format("truetype"),
    url("icon/icomoon.woff?d56syn") format("woff"),
    url("icon/icomoon.svg?d56syn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
